[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
quart-openapi = "*"
quart-schema = "*"
quart = "*"
azure-storage-file-share = "*"
quart-db = "*"

[dev-packages]

[requires]
python_version = "3.10"
